html {
    background: url('http://52digital.net/wp-content/uploads/2017/08/Universitas-Indonesia.jpg') no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
  }
  
  body {
    background: transparent;
    height: 100%;
    font-family: "Lato";
  }
  
  .wrap {
    /* OLD browser support */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    -moz-box-wrap: nowrap;
    -webkit-box-wrap: nowrap;
    -ms-flexbox-wrap: nowrap;
    -moz-box-direction: column;
    -webkit-box-direction: column;
    -ms-flexbox-direction: column;
    /* END OLD browser support */
  
    display: flex; /* or inline-flex */
    flex-direction: column; /* or usually or row */
    justify-content: space-between;
    align-items: center;
  
    height: 100%;
    width: 100%;
  }
  
  .logo {
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Safari */
    transform: rotate(-3deg);
    padding-top: 20px;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
  .logo a {
    /* Google font: https://www.google.com/fonts/specimen/Kaushan+Script */
    font-family: 'Kaushan Script', cursive;
    color: black;
    font-size: 36px;
    padding: 10px;
    opacity: 0.75;
  
  }
  
  .logo a .logo-alt {
    color: #FFF;
    font-size: 24px;
  }
  
  .logo a:hover, .logo a:focus {
    text-decoration: none;
    opacity: 1.0;
  }
  
  h2 {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 600px;
    color: black;
    opacity: 0.75;
  }
  
  p {
    margin: 0;
  }
  
  #countdown {
    color: black;
    display: flex;
    max-width: 360px;
    justify-content: center;
    margin: 0 auto;
  }
  
  #countdown .countdown-section {
    padding: 0 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.36);
  }
  
  #countdown .countdown-section:last-child {
    border-right: 0;
  }
  
  #countdown .countdown-section .h1 {
    opacity: 0.75;
  }
  
  #countdown .countdown-section .text-center {
    color: black;
    opacity: 1.0
  }
  
  .share {
    position: relative;
    padding: 6px 12px 6px 35px;
    color: black;
    border: 1px solid black;
  }
  
  .share:hover {
    color: black;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.36);        
  }
  
  .share-twitter {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 3px;
    left: 7px;
  }
  
  .btn-default {
  
  
  }
  
  .site-footer {
    color: #FFF;
    font-size: 0.875em /* 14px */
      height: 54px;
    padding-bottom: 20px;
  }
  
  a {
    color: #ff3399;
    text-decoration: none;
  }