{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="COMING SOON">
    <meta name="author" content="Ivan Abdurrahman">

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/coming_soon.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/ju-1.11.4/jqc-1.11.3,dt-1.10.8/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/r/ju-1.11.4/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <title>
        {% block title %} Iluni Smanli-UI {% endblock %}
    </title>
</head>

<body>
    <div class="wrap">
        <div class="logo text-center">
          <a href="#" title="iluni.smanli-ui">Iluni<span class="logo-alt">.Smanli-UI</span></a>
        </div>
        <h2 class="text-center">We're coming soon!</h2>    
        <div id="countdown">  
          <div class="countdown-section">
            <span class="h1 days">-</span>
            <div class="text-center">DAYS</div>
          </div>
          <div class="countdown-section">
            <span class="h1 hours">-</span>
            <div class="text-center">HRS</div>
          </div>
          <div class="countdown-section">
            <span class="h1 minutes"></span>
            <div class="text-center">MINS</div>
          </div>
          <div class="countdown-section">
            <span class="h1 seconds"></span>
            <div class="text-center">SECS</div>
          </div>
        </div>
      
        <footer class="site-footer text-center">
          <span>&copy; Iluni Smanli-UI | Photo courtesy: Google Images | Created and designed by Ivanabdu</span>
        </footer>
      </div>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/coming_soon.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

</body>
</html>